---
---
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

$bb-brown: #C59B6B;

$primary-font: 'Poppins', sans-serif;

body {
  font-family: $primary-font;
  font-weight: 400;
}
h1,h2,h3,h4,h5,h6 {
  font-family: $primary-font;
  font-weight: 500;
}

.btn-primary {
  background-color: transparent;
  color: black;
  border: 2px solid black;
  border-radius: 0%;
  text-transform: uppercase;
  &:hover {
    background-color: black;
    color: white;
    border: 2px solid black;
  }
}
#productImage2:hover,#productImage3:hover,#productImage4:hover {
  cursor: pointer;
}
.page-hero {
  min-height: 400px;
  background-image: linear-gradient(-45deg, rgba(#31DAD8, .75) 25%, rgba(#da3d31, .75) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}