<div class="container pt-5">
  <div class="row mb-4 mb-lg-5 justify-content-lg-between">
    <div class="col-3 col-md-1 col-lg-2 d-none d-md-flex align-items-center">
      <div class="lc-block ratio ratio-1x1" style="background-color:#C16043"> </div>
    </div>
    <div class="col-4 col-md-3 col-lg-2 d-flex flex-column justify-content-between">
      <div class="lc-block ratio ratio-1x1" style="background-color:#A9A075"> </div>
      <div class="lc-block">
        <img class="img-fluid mt-4" src="{{ site.cloudinary_url }}/c_crop,h_1080,w_1080{{ section.image_1.image }}" alt="{{ section.image_1.alt_text }}">
      </div>
    </div>
    <div class="col-4 col-md-4 col-lg-3"> <img class="img-fluid" src="{{ site.cloudinary_url }}/c_crop,h_1572,w_1080{{ section.image_2.image }}" style="object-fit:cover" alt="{{ section.image_2.alt_text }}"></div>
    <div class="col-4 col-md-3 col-lg-2 d-flex flex-column justify-content-between">
      <div class="lc-block">
        <img class="img-fluid" src="{{ site.cloudinary_url }}/c_crop,h_1080,w_1080{{ section.image_3.image }}" alt="{{ section.image_3.alt_text }}">
      </div>
      <div class="lc-block ratio ratio-1x1" style="background-color:#A9A075"> </div>
    </div>
    <div class="col-3 col-md-1 col-lg-2 d-none d-md-flex  align-items-center">
      <div class="lc-block ratio ratio-1x1" style="background-color:#C16043"> </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="lc-block text-center col-md-8">
      <div editable="rich">
        <h1 class="rfs-25 fw-bold">{{ section.headline }}</h1>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="lc-block text-center col-xxl-6 col-md-8">
      <div editable="rich">
        <p class="lead">{{ section.content }}</p>
      </div>
    </div>
  </div>
</div>
