  <div class="d-flex min-vh-100" lc-helper="background" style="background:url({{ site.cloudinary_url }}{{ section.image.image }})  center / cover no-repeat; background-color:#444; background-blend-mode: overlay;">
    <div class="align-self-center text-center text-light col-md-8 offset-md-2">
      <div class="lc-block mb-4">
        <div editable="rich">
          <h1 class="display-1 fw-bolder">{{ section.headline }}</h1>
        </div>
      </div>
      <div class="lc-block">
        <div editable="rich">
          <p class="lead">{{ section.content }}</p>
          {% if section.cta and section.cta.enabled == true %}
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="{{ section.cta.url }}" type="button" class="btn btn-primary btn-lg px-4 me-md-2">{{ section.cta.button_text }}</a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
