{% if section.media_alignment and section.media_alignment == "Left" %}
{% include block-feature-2.html %}
{% else %}
<section id="{{ section.slug | slugify }}" class="block block-feature-1 m-5">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md-6 text-center text-md-end">
        <h2><span class="light">{{ section.headline }}</span></h2>
        <p>{{ section.content }}</p>
        {% if section.cta.active %}
        <a href="{{ site.github.url }}{{ section.cta.url }}" class="btn btn-primary mb-2">{{ section.cta.text }}</a>
        {% endif %}
      </div>
      <div class="col-12 col-md-6">
        <img src="{{ site.cloudinary_url }}/c_scale,w_400{{ section.media.image }}" alt="{{ section.media.alt_text }}" loading="lazy"
          class="img-fluid">
      </div>
    </div>
  </div>
</section>
{% endif %}
