---
layout: default
---
<section class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6">
            <div id="productGallery" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for gallery in page.gallery %}
                    <div class="carousel-item active">
                        <img src="{{ site.cloudinary_url }}/c_crop,g_center,h_1080,w_1080{{ gallery | relative_url }}"
                            class="d-block w-100" alt="...">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#productGallery" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#productGallery" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <h1>{{ page.title }}</h1>
            <p>{{ page.description | markdownify }}</p>
        </div>
</section>

